* {
    background-color: lightgrey;
}
.container {
    display: block;
    margin: 0;
    width: 100vw;
    height: 100vh;
    border: 5px solid black;
    background-color: crimson;
}

h1 {
    background-color: khaki;
    width: 98%;
    height: 95%;
    margin: 20px;
    text-align: center;
    padding: 20px;
    font-size: 50px;
}

