* {
  box-sizing: border-box;
}
h1 {
  background-color: lightblue;
  padding: 30px 30px 30px 60px;
}
.chiangmai {
  box-sizing: border-box;
  background-color: lightgrey;
  padding: 30px 0px 30px 60px;
  width: 700px;
  height: 400px;
  margin: 50px 0px 50px 50px;
  border: solid grey;
}

.location {
  box-sizing: border-box;
  background-color: lightgrey;
  padding: 30px 0px 30px 60px;
  width: 700px;
  height: 400px;
  margin: 50px 0px 50px 50px;
  border: solid grey;
}
/* Start coding here */
